.elements {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 20px 17px;
  justify-items: center;
}

@media (max-width: 974px) {
  .elements {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0;
  }
}

@media (max-width: 740px) {
  .elements {
    grid-column-gap: 17px;
  }
}

@media (max-width: 680px) {
  .elements {
    grid-template-columns: repeat(1, 1fr);
  }
}