.add-button {
  display: flex;
  min-width: 150px;
  max-height: 50px;
  border: 2px solid #fff;
  border-radius: 2px;
  box-sizing: border-box;
  background-color: #000;
  cursor: pointer;
  grid-area: add-button;
}

.add-button:hover {
  opacity: 0.6;
}

@media (max-width: 740px) {
  .add-button {
    min-width: 282px;
  }
}