.element__delete {
  position: absolute;
  background-image: url(../../../images/icon-delete.svg);
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  width: 18px;
  height: 19px;
  top: 20px;
  left: 244px;
  cursor: pointer;
  display: none;
}
.element__delete:hover {
  opacity: 0.5;
}