.profile__user-jop {
  margin: 7px 0 0;
  padding: 0;
  font-size: 18px;
  line-height: 22px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  grid-area: profile__user-jop;
}

@media (max-width: 740px) {
  .profile__user-jop {
    margin: 0;
  }
}

@media (max-width: 680px) {
  .profile__user-jop {
    font-size: 14px;
    line-height: 17px;
    margin: 5px auto 0;
    max-width: 282px;
  }
}